replicaCount: 2

resources:
  requests:
    cpu: 10m
    memory: 174Mi
  limits:
    cpu: null
    memory: 174Mi

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: "node-role.kubernetes.io/system"
              operator: "Exists"
tolerations:
- key: "node-role.kubernetes.io/system"
  operator: "Exists"
  effect: "NoSchedule"