ollama:
  enabled: true
  ollama:
    gpu:
      enabled: false
      type: 'nvidia'
      number: 1
  podLabels:
    istio.io/dataplane-mode: ambient
  resources:
    requests:
      cpu: 5000m
      memory: 9Gi
    limits:
      memory: 9Gi
  persistentVolume:
    enabled: true
    size: 10Gi
    storageClass: ceph-block

pipelines:
  enabled: true
  persistence:
    enabled: true
    size: 1Gi
    storageClass: ceph-block
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi


podLabels:
  istio.io/dataplane-mode: ambient

resources:
  requests:
    cpu: 10m
    memory: 1.5Gi
  limits:
    memory: 1.5Gi

persistence:
  enabled: true
  size: 2Gi
  storageClass: ceph-block