apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: homelab-k8s
  namespace: argocd
spec:
  project: default
  destination:
    namespace: argocd
    server: 'https://kubernetes.default.svc'
  source:
    path: argocd/applications
    repoURL: 'https://github.com/XuhuiSun95/homelab-k8s.git'
    targetRevision: main
    directory:
      recurse: true
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true