## template:jinja
{#
This file (/etc/cloud/templates/hosts.debian.tmpl) is only utilized
if enabled in cloud-config.  Specifically, in order to enable it
you need to add the following to config:
   manage_etc_hosts: True
-#}
# Your system has configured 'manage_etc_hosts' as True.
# As a result, if you wish for changes to this file to persist
# then you will need to either
# a.) make changes to the master file in /etc/cloud/templates/hosts.debian.tmpl
# b.) change or remove the value of 'manage_etc_hosts' in
#     /etc/cloud/cloud.cfg or cloud-config from user-data
#
{# The value '{{hostname}}' will be replaced with the local-hostname -#}
127.0.1.1 {{fqdn}} {{hostname}}
127.0.0.1 localhost.localdomain localhost

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost localhost6 localhost6.localdomain ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters


# Ansible inventory hosts BEGIN
192.168.60.155 system-01.cluster.local system-01
2600:8801:2aa0:b305:be24:11ff:fe0c:dcf2 system-01.cluster.local system-01
192.168.60.156 system-02.cluster.local system-02
2600:8801:2aa0:b305:be24:11ff:fe2e:f049 system-02.cluster.local system-02
192.168.60.157 system-03.cluster.local system-03
2600:8801:2aa0:b305:be24:11ff:fe52:ebe8 system-03.cluster.local system-03
192.168.60.160 user-01.cluster.local user-01
2600:8801:2aa0:b305:be24:11ff:fe53:58b9 user-01.cluster.local user-01
192.168.60.161 user-02.cluster.local user-02
2600:8801:2aa0:b305:be24:11ff:feed:8783 user-02.cluster.local user-02
192.168.60.162 user-03.cluster.local user-03
2600:8801:2aa0:b305:be24:11ff:fee0:31c2 user-03.cluster.local user-03
192.168.60.163 user-04.cluster.local user-04
2600:8801:2aa0:b305:be24:11ff:fed9:fbd5 user-04.cluster.local user-04
192.168.60.164 user-05.cluster.local user-05
2600:8801:2aa0:b305:be24:11ff:fe5a:dd59 user-05.cluster.local user-05
192.168.60.165 user-06.cluster.local user-06
2600:8801:2aa0:b305:be24:11ff:fe80:d75a user-06.cluster.local user-06
192.168.60.150 control-plane-01.cluster.local control-plane-01
2600:8801:2aa0:b305:be24:11ff:fe8b:ad14 control-plane-01.cluster.local control-plane-01
192.168.60.151 control-plane-02.cluster.local control-plane-02
2600:8801:2aa0:b305:be24:11ff:fe1a:7805 control-plane-02.cluster.local control-plane-02
192.168.60.152 control-plane-03.cluster.local control-plane-03
2600:8801:2aa0:b305:be24:11ff:fe28:cbeb control-plane-03.cluster.local control-plane-03
# Ansible inventory hosts END
192.168.60.21 lb-apiserver.kubernetes.local
