image:
  repository: bitnamilegacy/keycloak

auth:
  adminPassword: nIskQiijss

production: true
proxyHeaders: xforwarded

replicaCount: 2
podLabels:
  istio.io/dataplane-mode: ambient
podAntiAffinityPreset: hard
nodeSelector:
  karpenter.sh/nodepool: system
tolerations:
- key: node-role.kubernetes.io/system
  operator: Exists
  effect: NoSchedule
priorityClassName: platform-critical

networkPolicy:
  extraIngress:
    - ports:
      - port: 15008

autoscaling:
  enabled: true
  hpa:
    enabled: true
    minReplicas: 2
    targetCPUUtilizationPercentage: 80

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
  prometheusRule:
    enabled: false

resources:
  requests:
    cpu: 40m
    memory: 1000Mi
  limits:
    memory: 1000Mi

postgresql:
  enabled: false

externalDatabase:
  host: keycloak-cnpg-cluster-v2-rw
  port: 5432
  database: keycloak
  existingSecret: keycloak-cnpg-cluster-v2-app
  existingSecretUserKey: user
  existingSecretPasswordKey: password