replicaCount: 2

resources:
  requests:
    cpu: 10m
    memory: 247Mi
  limits:
    memory: 247Mi

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
          - key: karpenter.sh/nodepool
            operator: In
            values: ["system"]
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: kiali-operator
          topologyKey: topology.kubernetes.io/zone
        weight: 100
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/name: kiali-operator
        topologyKey: kubernetes.io/hostname
tolerations:
- key: node-role.kubernetes.io/system
  operator: Exists
  effect: NoSchedule
priorityClassName: platform-critical

cr:
  create: true
  namespace: istio-system

  spec:
    auth:
      strategy: openid
      openid:
        client_id: kiali
        disable_rbac: true
        issuer_uri: https://iam.local.xuhuisun.com/realms/local
        scopes: ["openid", "email"]
        username_claim: "email"
    deployment:
      hpa:
        spec:
          maxReplicas: 2
          minReplicas: 1
          metrics:
          - type: Resource
            resource:
              name: cpu
              target:
                type: Utilization
                averageUtilization: 50
      network_policy:
        enabled: false
      pod_labels:
        istio.io/dataplane-mode: ambient
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          memory: 100Mi
    external_services:
      grafana:
        internal_url: http://lgtm-grafana.monitoring.svc.cluster.local
        external_url: https://grafana.local.xuhuisun.com
      istio:
        component_status:
          components:
          - app_label: istiod
            is_core: true
            is_proxy: false
          - app_label: istio-ingress-gateway
            is_core: true
            is_proxy: true
            namespace: istio-ingress
      prometheus:
        health_check_url: http://lgtm-mimir-gateway.monitoring.svc.cluster.local/ready
        url: http://lgtm-mimir-gateway.monitoring.svc.cluster.local/prometheus
        custom_headers:
          X-Scope-OrgID: homelab-k8s
      tracing:
        enabled: true
        health_check_url: http://lgtm-tempo-gateway.monitoring.svc.cluster.local
        internal_url: http://lgtm-tempo-gateway.monitoring.svc.cluster.local
        provider: tempo
        tempo_config:
          org_id: "1"
          datasource_uid: tempo
        use_grpc: false
        external_url: https://grafana.local.xuhuisun.com