apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "13"
  name: ingress-gateway
  namespace: argocd
spec:
  project: default
  destination:
    namespace: istio-ingress
    server: 'https://kubernetes.default.svc'
  sources:
    - repoURL: 'https://github.com/XuhuiSun95/homelab-k8s.git'
      targetRevision: main
      path: istio/gateways
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true