controller:
  replicas: 2
  runOnControlPlane: true

node:
  nodeSelector:
    node.cloudprovider.kubernetes.io/platform: nocloud
  tolerations:
    - operator: Exists


storageClass:
  create: true
  name: nfs-csi
  parameters:
    server: unas-pro.local.xuhuisun.com
    share: /var/nfs/shared/KubernetesCluster
    csi.storage.k8s.io/provisioner-secret-name: nfs-mount-options
    csi.storage.k8s.io/provisioner-secret-namespace: kube-system
  reclaimPolicy: Delete
  volumeBindingMode: Immediate
  mountOptions:
  - nolock