type: postgresql
version:
  postgresql: "17"
mode: recovery

recovery:
  method: object_store
  clusterName: immich-cnpg-cluster
  database: immich
  endpointURL: https://s3.local.xuhuisun.com
  provider: s3
  s3:
    bucket: cloudnative-pg-backups
    accessKey: om9WSI45aMEZxBqASwSy
    secretKey: f31Tff9m6TaPJRhZ45GjO0HUxzx4yM8HmQ7xCnAJ

cluster:
  instances: 3
  imageName: "ghcr.io/tensorchord/cloudnative-vectorchord:16.9-0.4.3"
  storage:
    size: 4Gi
    storageClass: proxmox-local-zfs-xfs
  resources:
    requests:
      cpu: 100m
      memory: 1Gi
    limits:
      memory: 1Gi
  roles:
    - name: immich
      superuser: true
      login: true
  monitoring:
    enabled: true
    podMonitor:
      enabled: true
    prometheusRule:
      enabled: false
  postgresql:
    shared_preload_libraries:
      - "vchord.so"
  initdb:
    database: immich
    postInitSQL:
      - CREATE EXTENSION IF NOT EXISTS "vchord" CASCADE;
      - CREATE EXTENSION IF NOT EXISTS "earthdistance" CASCADE;

backups:
  enabled: true
  endpointURL: https://s3.local.xuhuisun.com
  provider: s3
  s3:
    bucket: cloudnative-pg-backups
    accessKey: om9WSI45aMEZxBqASwSy
    secretKey: f31Tff9m6TaPJRhZ45GjO0HUxzx4yM8HmQ7xCnAJ
  wal:
    encryption: ""
  data:
    encryption: ""
  scheduledBackups:
    - name: daily-backup
      schedule: "0 0 0 * * *"
      backupOwnerReference: self
  retentionPolicy: "7d"