controllers:
  main:
    containers:
      main:
        env:
          - name: REDIS_HOSTNAME
            value: "immich-immich-valkey"
          - name: DB_HOSTNAME
            valueFrom: 
              secretKeyRef:
                name: immich-cnpg-cluster-app
                key: host
          - name: DB_USERNAME
            valueFrom: 
              secretKeyRef:
                name: immich-cnpg-cluster-app
                key: user
          - name: DB_DATABASE_NAME
            valueFrom: 
              secretKeyRef:
                name: immich-cnpg-cluster-app
                key: dbname
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: immich-cnpg-cluster-app
                key: password
          - name: IMMICH_MACHINE_LEARNING_URL
            value: "http://immich-immich-machine-learning:3003"
          - name: IMMICH_TELEMETRY_INCLUDE
            value: "all"

immich:
  metrics:
    enabled: true
  persistence:
    library:
      existingClaim: immich-library-pvc

valkey:
  enabled: true
  resources:
    requests:
      cpu: 15m
      memory: 100Mi
    limits:
      memory: 100Mi

server:
  controllers:
    main:
      pod:
        labels:
          istio.io/dataplane-mode: ambient
      containers:
        main:
          image:
            repository: ghcr.io/immich-app/immich-server
            tag: v2.2.3
  resources:
    requests:
      cpu: 189m
      memory: 564Mi
    limits:
      memory: 564Mi

machine-learning:
  controllers:
    main:
      pod:
        labels:
          istio.io/dataplane-mode: ambient
      containers:
        main:
          image:
            repository: ghcr.io/immich-app/immich-machine-learning
            tag: v2.2.3
  resources:
    requests:
      cpu: 23m
      memory: 391Mi
    limits:
      memory: 391Mi