global:
  domain: argocd.local.xuhuisun.com
  dualStack:
    ipFamilyPolicy: PreferDualStack
    ipFamilies: ["IPv6","IPv4"]
  priorityClassName: platform-critical
  tolerations:
  - key: node-role.kubernetes.io/system
    operator: Exists
    effect: NoSchedule
  affinity:
    podAntiAffinity: hard
    nodeAffinity:
      matchExpressions:
        - key: karpenter.sh/nodepool
          operator: In
          values: ["system"]

configs:
  cm:
    oidc.config: |
      name: Keycloak
      issuer: https://iam.local.xuhuisun.com/realms/local
      clientID: argocd
      enablePKCEAuthentication: true
      requestedScopes: ["openid", "profile", "email", "groups"]
  rbac:
    policy.csv: |
      g, ArgoCDAdmins, role:admin

applicationSet:
  replicas: 2
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi

dex:
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi

notifications:
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi

redis-ha:
  enabled: true
  haproxy:
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi
    additionalAffinities:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
              - key: karpenter.sh/nodepool
                operator: In
                values: ["system"]
    tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  redis:
    resources:
      requests:
        cpu: 13m
        memory: 100Mi
      limits:
        memory: 100Mi
  sentinel:
    resources:
      requests:
        cpu: 14m
        memory: 100Mi
      limits:
        memory: 100Mi
  splitBrainDetection:
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi
  additionalAffinities:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
  - key: node-role.kubernetes.io/system
    operator: Exists
    effect: NoSchedule

controller:
  replicas: 2
  vpa:
    enabled: true
    updateMode: InPlaceOrRecreate
    containerPolicy:
      controlledResources: ["cpu", "memory"]
      minAllowed:
        cpu: 100m
        memory: 512Mi
      maxAllowed:
        cpu: 1
        memory: 2Gi
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      memory: 1024Mi

server:
  replicas: 2
  resources:
    requests:
      cpu: 32m
      memory: 173Mi
    limits:
      memory: 173Mi

repoServer:
  replicas: 2
  resources:
    requests:
      cpu: 18m
      memory: 375Mi
    limits:
      memory: 375Mi