global:
  domain: argocd.local.xuhuisun.com
  dualStack:
    ipFamilyPolicy: PreferDualStack
    ipFamilies: ["IPv6","IPv4"]
  priorityClassName: platform-critical
  tolerations:
  - key: node-role.kubernetes.io/system
    operator: Exists
    effect: NoSchedule
  affinity:
    podAntiAffinity: hard
    nodeAffinity:
      matchExpressions:
        - key: karpenter.sh/nodepool
          operator: In
          values: ["system"]

configs:
  params:
    server.insecure: true
  cm:
    oidc.config: |
      name: Keycloak
      issuer: https://iam.local.xuhuisun.com/realms/local
      clientID: argocd
      enablePKCEAuthentication: true
      requestedScopes: ["openid", "profile", "email", "groups"]
  rbac:
    policy.csv: |
      g, ArgoCDAdmins, role:admin

applicationSet:
  replicas: 2
  pdb:
    enabled: true
    minAvailable: 1
  resources:
    requests:
      cpu: 20m
      memory: 128Mi
    limits:
      memory: 128Mi

dex:
  enabled: false

notifications:
  enabled: false

redis-ha:
  enabled: true
  haproxy:
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi
    additionalAffinities:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
              - key: karpenter.sh/nodepool
                operator: In
                values: ["system"]
    tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  redis:
    resources:
      requests:
        cpu: 13m
        memory: 100Mi
      limits:
        memory: 100Mi
  sentinel:
    resources:
      requests:
        cpu: 14m
        memory: 100Mi
      limits:
        memory: 100Mi
  splitBrainDetection:
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi
  additionalAffinities:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
  - key: node-role.kubernetes.io/system
    operator: Exists
    effect: NoSchedule

controller:
  replicas: 1
  vpa:
    enabled: true
    updateMode: InPlaceOrRecreate
    containerPolicy:
      controlledResources: ["cpu", "memory"]
      minAllowed:
        cpu: 100m
        memory: 512Mi
      maxAllowed:
        cpu: 1
        memory: 2Gi
  resources:
    requests:
      cpu: 150m
      memory: 1024Mi
    limits:
      memory: 1024Mi

server:
  replicas: 2
  pdb:
    enabled: true
    minAvailable: 1
  resources:
    requests:
      cpu: 20m
      memory: 180Mi
    limits:
      memory: 180Mi

repoServer:
  replicas: 2
  pdb:
    enabled: true
    minAvailable: 1
  resources:
    requests:
      cpu: 20m
      memory: 256Mi
    limits:
      memory: 256Mi

extraObjects:
  - |
    apiVersion: autoscaling.k8s.io/v1
    kind: VerticalPodAutoscaler
    metadata:
      name: argocd-applicationset-controller
      namespace: argocd
    spec:
      resourcePolicy:
        containerPolicies:
          - containerName: applicationset-controller
            controlledResources:
              - cpu
              - memory
            minAllowed:
              cpu: 5m
              memory: 64Mi
            maxAllowed:
              cpu: 1
              memory: 256Mi
      targetRef:
        apiVersion: apps/v1
        kind: Deployment
        name: argocd-applicationset-controller
      updatePolicy:
        updateMode: InPlaceOrRecreate
  - |
    apiVersion: autoscaling.k8s.io/v1
    kind: VerticalPodAutoscaler
    metadata:
      name: argocd-server
      namespace: argocd
    spec:
      resourcePolicy:
        containerPolicies:
          - containerName: server
            controlledResources:
              - cpu
              - memory
            minAllowed:
              cpu: 5m
              memory: 128Mi
            maxAllowed:
              cpu: 1
              memory: 512Mi
      targetRef:
        apiVersion: apps/v1
        kind: Deployment
        name: argocd-server
      updatePolicy:
        updateMode: InPlaceOrRecreate
  - |
    apiVersion: autoscaling.k8s.io/v1
    kind: VerticalPodAutoscaler
    metadata:
      name: argocd-repo-server
      namespace: argocd
    spec:
      resourcePolicy:
        containerPolicies:
          - containerName: repo-server
            controlledResources:
              - cpu
              - memory
            minAllowed:
              cpu: 5m
              memory: 128Mi
            maxAllowed:
              cpu: 1
              memory: 512Mi
      targetRef:
        apiVersion: apps/v1
        kind: Deployment
        name: argocd-repo-server
      updatePolicy:
        updateMode: InPlaceOrRecreate