alertmanager:
  enabled: false

grafana:
  enabled: false

kubeApiServer:
  enabled: false 

kubelet:
  enabled: false
  serviceMonitor:
    relabelings:
      - action: replace
        sourceLabels: [__metrics_path__]
        targetLabel: metrics_path
      - sourceLabels: [__meta_kubernetes_endpoint_node_name]
        targetLabel: instance
        action: replace

kubeControllerManager:
  enabled: false
  service:
    ipDualStack:
      enabled: true
  serviceMonitor:
    relabelings:
      - sourceLabels: [__meta_kubernetes_pod_node_name]
        targetLabel: instance
        action: replace

coreDns:
  enabled: false
  service:
    ipDualStack:
      enabled: true
  serviceMonitor:
    relabelings:
      - sourceLabels: [__meta_kubernetes_pod_node_name]
        targetLabel: instance
        action: replace

kubeEtcd:
  enabled: false
  service:
    selector:
      k8s-app: kube-controller-manager
    ipDualStack:
      enabled: true
  serviceMonitor:
    relabelings:
      - sourceLabels: [__meta_kubernetes_pod_node_name]
        targetLabel: instance
        action: replace

kubeScheduler:
  enabled: false
  service:
    ipDualStack:
      enabled: true
  serviceMonitor:
    relabelings:
      - sourceLabels: [__meta_kubernetes_pod_node_name]
        targetLabel: instance
        action: replace

kubeProxy:
  enabled: false

kubeStateMetrics:
  enabled: false 

nodeExporter:
  enabled: false 

prometheusOperator:
  enabled: false
  admissionWebhooks:
    patch:
      enabled: true
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: karpenter.sh/nodepool
                  operator: In
                  values: ["system"]
      tolerations:
        - key: node-role.kubernetes.io/system
          operator: Exists
          effect: NoSchedule
      priorityClassName: platform-critical
  service:
    ipDualStack:
      enabled: true
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi
  priorityClassName: platform-critical
  prometheusConfigReloader:
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi

prometheus:
  enabled: false 
  service:
    ipDualStack:
      enabled: true
  prometheusSpec:
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    retention: 1h
    remoteWrite:
      - url:  http://lgtm-mimir-gateway/api/v1/push
        headers:
          X-Scope-OrgID: homelab-k8s
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
              - key: karpenter.sh/nodepool
                operator: In
                values: ["system"]
    tolerations:
      - key: node-role.kubernetes.io/system
        operator: Exists
        effect: NoSchedule
    resources:
      requests:
        cpu: 293m
        memory: 2640Mi
      limits:
        memory: 2640Mi
    priorityClassName: platform-critical