service:
  ports:
  - name: status-port
    port: 15021
    protocol: TCP
    targetPort: 15021
  - name: http2
    port: 80
    protocol: TCP
    targetPort: 80
  - name: https
    port: 443
    protocol: TCP
    targetPort: 443
  ipFamilyPolicy: PreferDualStack
  ipFamilies: ["IPv6", "IPv4"]
resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    cpu: null 
    memory: 512Mi
autoscaling:
  minReplicas: 2
  maxReplicas: 15