profile: ambient

autoscaleMin: 2
replicaCount: 2
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
          - key: karpenter.sh/nodepool
            operator: In
            values: ["system"]
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: istiod
          topologyKey: topology.kubernetes.io/zone
        weight: 100
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/name: istiod
        topologyKey: kubernetes.io/hostname
tolerations:
- key: node-role.kubernetes.io/system
  operator: Exists
  effect: NoSchedule

env:
  PILOT_ENABLE_QUIC_LISTENERS: true
  ISTIO_DUAL_STACK: true

ipFamilyPolicy: PreferDualStack
ipFamilies: ["IPv6", "IPv4"]

meshConfig:
  defaultConfig:
    proxyMetadata:
      ISTIO_DUAL_STACK: true
  enableTracing: true
  extensionProviders:
  - name: otel-tracing
    opentelemetry:
      port: 4317
      # service: opentelemetry-kube-stack-daemon-collector.opentelemetry-operator-system.svc.cluster.local
      service: lgtm-tempo-gateway.monitoring.svc.cluster.local
      resource_detectors:
        environment: {}

global:
  priorityClassName: platform-critical
  nativeNftables: true