objectStore:
  name: aistor-objectstore
  pools:
    - servers: 1
      name: pool-0
      volumesPerServer: 8
      size: 10Gi
      storageClassName: proxmox-local-zfs-xfs
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  aistor.min.io/objectStore: aistor-objectstore
                  v1.min.io/pool: pool-0
              topologyKey: kubernetes.io/hostname
      resources:
        requests:
          cpu: 100m
          memory: 1Gi
        limits:
          memory: 1Gi
  metrics:
    enabled: true
  services:
    minio:
      labels:
        tenant: aistor-objectstore

extraResources:
- |
  apiVersion: autoscaling.k8s.io/v1
  kind: VerticalPodAutoscaler
  metadata:
    name: primary-object-store
    namespace: primary-object-store
  spec:
    resourcePolicy:
      containerPolicies:
        - containerName: minio
          controlledResources:
            - cpu
            - memory
          minAllowed:
            cpu: 5m
            memory: 512Mi
          maxAllowed:
            cpu: 8
            memory: 4Gi
    targetRef:
      apiVersion: apps/v1
      kind: StatefulSet
      name: aistor-objectstore-pool-0
    updatePolicy:
      updateMode: InPlaceOrRecreate