minkms:
  hsm:
    key: "hsm:aes256:JbsGzClz/rmD/GeFGDGe8s4uWnuoUXV0zeVlcBgPrQs="
  # TODO: affinity did not work in minkms crd
  # affinity:
  #   nodeAffinity:
  #     requiredDuringSchedulingIgnoredDuringExecution:
  #       nodeSelectorTerms:
  #         - matchExpressions:
  #           - key: karpenter.sh/nodepool
  #             operator: In
  #             values: ["system"]
  #   podAntiAffinity:
  #     requiredDuringSchedulingIgnoredDuringExecution:
  #       - labelSelector:
  #           matchLabels:
  #             app.kubernetes.io/name: minkms
  #         topologyKey: kubernetes.io/hostname
  #     preferredDuringSchedulingIgnoredDuringExecution:
  #       - podAffinityTerm:
  #           labelSelector:
  #             matchLabels:
  #               app.kubernetes.io/name: minkms
  #           topologyKey: topology.kubernetes.io/zone
  #         weight: 100
  nodeSelector:
    node-role.kubernetes.io/system: ""
  priorityClassName: platform-critical
  replicas: 3
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  extraResources:
  - |
    apiVersion: autoscaling.k8s.io/v1
    kind: VerticalPodAutoscaler
    metadata:
      name: minkms
      namespace: minkms
    spec:
      resourcePolicy:
        containerPolicies:
          - containerName: key-manager
            controlledResources:
              - cpu
              - memory
            minAllowed:
              cpu: 5m
              memory: 64Mi
            maxAllowed:
              cpu: 1
              memory: 256Mi
      targetRef:
        apiVersion: apps/v1
        kind: StatefulSet
        name: minkms
      updatePolicy:
        updateMode: InPlaceOrRecreate