# crds:
#   installPrometheus: false

opentelemetry-operator:
  priorityClassName: platform-critical
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key:  karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule

defaultCRConfig:
  priorityClassName: platform-critical
  nodeSelector:
    node.cloudprovider.kubernetes.io/platform: nocloud
  tolerations:
    - operator: Exists

collectors:
  daemon:
    crape_configs_file: ""
    targetAllocator:
      enabled: true
      image: ghcr.io/open-telemetry/opentelemetry-operator/target-allocator:main
      allocationStrategy: per-node
      prometheusCR:
        enabled: true
        podMonitorSelector: {}
        scrapeInterval: "30s"
        serviceMonitorSelector: {}
    presets:
      logsCollection:
        enabled: true
      kubeletMetrics:
        enabled: true 
      hostMetrics:
        enabled: false
      kubernetesAttributes:
        enabled: true 
      kubernetesEvents:
        enabled: false
      clusterMetrics:
        enabled: false
    config:
      # processors:
      #   resourcedetection/env:
      #     detectors: [env]
      receivers:
        prometheus: {}
      exporters:
        otlp/tempo:
          endpoint: lgtm-tempo-gateway.monitoring.svc.cluster.local:4317
          tls:
            insecure: true
        otlphttp/mimir:
          endpoint: http://lgtm-mimir-gateway.monitoring.svc.cluster.local/otlp
          headers:
            X-Scope-OrgID: homelab-k8s
          tls:
            insecure: true
        otlphttp/loki:
          endpoint: http://lgtm-loki-gateway.monitoring.svc/otlp
          headers:
            X-Scope-OrgID: homelab-k8s
          tls:
            insecure: true
      service:
        pipelines:
          traces:
            exporters:
              - otlp/tempo
          metrics:
            receivers:
              - otlp
              - prometheus
            exporters:
              - otlphttp/mimir
          logs:
            exporters:
              - otlphttp/loki

kubernetesServiceMonitors:
  enabled: true 

kubeApiServer:
  enabled: true 

kubelet:
  enabled: true

kubeControllerManager:
  enabled: true

coreDns:
  enabled: true

kubeEtcd:
  enabled: true
  service:
    selector:
      k8s-app: kube-controller-manager

kubeScheduler:
  enabled: true

kubeProxy:
  enabled: false

kubeStateMetrics:
  enabled: true 

kube-state-metrics:
  service:
    ipDualStack:
      enabled: true
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi
  priorityClassName: platform-critical

nodeExporter:
  enabled: true 

prometheus-node-exporter:
  extraArgs:
    - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|run/containerd/.+|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
    - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs|erofs)$
    - --collector.systemd
    - --collector.processes
  service:
    ipDualStack:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi
  priorityClassName: platform-critical