# crds:
#   installPrometheus: false

opentelemetry-operator:
  manager:
    resources:
      requests:
        cpu: 24m
        memory: 100Mi
      limits:
        memory: 100Mi
  kubeRBACProxy:
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi
  priorityClassName: platform-critical
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key:  karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule

defaultCRConfig:
  priorityClassName: platform-critical
  nodeSelector:
    node.cloudprovider.kubernetes.io/platform: nocloud
  tolerations:
    - operator: Exists

collectors:
  daemon:
    resources:
      requests:
        cpu: 100m
        memory: 250Mi
      limits:
        cpu: null
        memory: 250Mi
    crape_configs_file: ""
    targetAllocator:
      enabled: true
      # priorityClassName: platform-critical
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key:  karpenter.sh/nodepool
                  operator: In
                  values: ["system"]
      tolerations:
        - key: node-role.kubernetes.io/system
          operator: Exists
          effect: NoSchedule
      resources:
        requests:
          cpu: 38m
          memory: 245Mi
        limits:
          memory: 245Mi
      allocationStrategy: per-node
      # allocationStrategy: consistent-hashing
      prometheusCR:
        enabled: true
        podMonitorSelector: {}
        scrapeInterval: "30s"
        serviceMonitorSelector: {}
    presets:
      logsCollection:
        enabled: true
      kubeletMetrics:
        enabled: false
      hostMetrics:
        enabled: false
      kubernetesAttributes:
        enabled: true
      kubernetesEvents:
        enabled: false 
      clusterMetrics:
        enabled: false
    config:
      receivers:
        prometheus:
          config:
            scrape_configs:
              - authorization:
                  credentials_file: "/var/run/secrets/kubernetes.io/serviceaccount/token"
                  type: Bearer
                follow_redirects: true
                honor_labels: true
                honor_timestamps: true
                job_name: serviceMonitor/opentelemetry-operator-system/opentelemetry-kube-stack-kubelet/0
                kubernetes_sd_configs:
                - follow_redirects: true
                  kubeconfig_file: ''
                  role: node
                metrics_path: "/metrics"
                relabel_configs:
                - action: replace
                  regex: "(.*)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - job
                  target_label: __tmp_prometheus_job_name
                - action: replace
                  replacement: "kubelet"
                  target_label: job
                - action: replace
                  regex: "(.*)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __meta_kubernetes_node_name
                  target_label: node
                - action: replace
                  regex: "(.*)"
                  replacement: https-metrics
                  separator: ";"
                  target_label: endpoint
                - action: replace
                  regex: "(.*)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __metrics_path__
                  target_label: metrics_path
                - action: hashmod
                  modulus: 1
                  regex: "(.*)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __address__
                  target_label: __tmp_hash
                - action: keep
                  regex: "$(SHARD)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __tmp_hash
                scheme: https
                scrape_interval: "30s"
                scrape_timeout: "10s"
                tls_config:
                  ca_file: "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
                  insecure_skip_verify: true
              - authorization:
                  credentials_file: "/var/run/secrets/kubernetes.io/serviceaccount/token"
                  type: Bearer
                follow_redirects: true
                honor_labels: true
                honor_timestamps: true
                job_name: serviceMonitor/opentelemetry-operator-system/opentelemetry-kube-stack-kubelet/1
                kubernetes_sd_configs:
                - follow_redirects: true
                  kubeconfig_file: ''
                  role: node
                metric_relabel_configs:
                - action: drop
                  regex: container_cpu_(cfs_throttled_seconds_total|load_average_10s|system_seconds_total|user_seconds_total)
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __name__
                - action: drop
                  regex: container_fs_(io_current|io_time_seconds_total|io_time_weighted_seconds_total|reads_merged_total|sector_reads_total|sector_writes_total|writes_merged_total)
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __name__
                - action: drop
                  regex: container_memory_(mapped_file|swap)
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __name__
                - action: drop
                  regex: container_(file_descriptors|tasks_state|threads_max)
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __name__
                - action: drop
                  regex: container_spec.*
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __name__
                - action: drop
                  regex: ".+;"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - id
                  - pod
                metrics_path: "/metrics/cadvisor"
                relabel_configs:
                - action: replace
                  regex: "(.*)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - job
                  target_label: __tmp_prometheus_job_name
                - action: replace
                  replacement: "kubelet"
                  target_label: job
                - action: replace
                  regex: "(.*)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __meta_kubernetes_node_name
                  target_label: node
                - action: replace
                  regex: "(.*)"
                  replacement: https-metrics
                  separator: ";"
                  target_label: endpoint
                - action: replace
                  regex: "(.*)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __metrics_path__
                  target_label: metrics_path
                - action: hashmod
                  modulus: 1
                  regex: "(.*)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __address__
                  target_label: __tmp_hash
                - action: keep
                  regex: "$(SHARD)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __tmp_hash
                scheme: https
                scrape_interval: "30s"
                scrape_timeout: "10s"
                tls_config:
                  ca_file: "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
                  insecure_skip_verify: true
              - authorization:
                  credentials_file: "/var/run/secrets/kubernetes.io/serviceaccount/token"
                  type: Bearer
                follow_redirects: true
                honor_labels: true
                honor_timestamps: true
                job_name: serviceMonitor/opentelemetry-operator-system/opentelemetry-kube-stack-kubelet/2
                kubernetes_sd_configs:
                - follow_redirects: true
                  kubeconfig_file: ''
                  role: node
                metrics_path: "/metrics/probes"
                relabel_configs:
                - action: replace
                  regex: "(.*)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - job
                  target_label: __tmp_prometheus_job_name
                - action: replace
                  replacement: "kubelet"
                  target_label: job
                - action: replace
                  regex: "(.*)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __meta_kubernetes_node_name
                  target_label: node
                - action: replace
                  regex: "(.*)"
                  replacement: https-metrics
                  separator: ";"
                  target_label: endpoint
                - action: replace
                  regex: "(.*)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __metrics_path__
                  target_label: metrics_path
                - action: hashmod
                  modulus: 1
                  regex: "(.*)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __address__
                  target_label: __tmp_hash
                - action: keep
                  regex: "$(SHARD)"
                  replacement: "$$1"
                  separator: ";"
                  source_labels:
                  - __tmp_hash
                scheme: https
                scrape_interval: "30s"
                scrape_timeout: "10s"
                tls_config:
                  ca_file: "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
                  insecure_skip_verify: true
      # processors:
      #   resourcedetection/env:
      #     detectors: [env]
      exporters:
        otlp/tempo:
          endpoint: lgtm-tempo-gateway.monitoring.svc.cluster.local:4317
          tls:
            insecure: true
        otlphttp/mimir:
          endpoint: http://lgtm-mimir-gateway.monitoring.svc.cluster.local/otlp
          headers:
            X-Scope-OrgID: homelab-k8s
          tls:
            insecure: true
        otlphttp/loki:
          endpoint: http://lgtm-loki-gateway.monitoring.svc/otlp
          headers:
            X-Scope-OrgID: homelab-k8s
          tls:
            insecure: true
      service:
        # telemetry:
        #   logs:
        #     level: "DEBUG"
        pipelines:
          traces:
            exporters:
              - otlp/tempo
          metrics:
            exporters:
              - otlphttp/mimir
          logs:
            exporters:
              - otlphttp/loki

kubernetesServiceMonitors:
  enabled: true 

kubeApiServer:
  enabled: true 

kubelet:
  enabled: true

kubeControllerManager:
  enabled: true

coreDns:
  enabled: true

kubeEtcd:
  enabled: true
  service:
    selector:
      k8s-app: kube-controller-manager

kubeScheduler:
  enabled: true

kubeProxy:
  enabled: false

kubeStateMetrics:
  enabled: true 

kube-state-metrics:
  # service:
  #   ipDualStack:
  #     enabled: true
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi
  priorityClassName: platform-critical

nodeExporter:
  enabled: true 

prometheus-node-exporter:
  extraArgs:
    - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|run/containerd/.+|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
    - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs|erofs)$
    - --collector.processes
  service:
    # ipDualStack:
    #   enabled: true
    labels:
      jobLabel: node-exporter
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi
  priorityClassName: platform-critical