replicas: 2
watchAnyNamespace: true

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: karpenter.sh/nodepool
              operator: In
              values: ["system"]
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: strimzi-cluster-operator
          topologyKey: topology.kubernetes.io/zone
        weight: 100
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/name: strimzi-cluster-operator
        topologyKey: kubernetes.io/hostname
tolerations:
- key: node-role.kubernetes.io/system
  operator: Exists
  effect: NoSchedule
priorityClassName: platform-critical

dashboards:
  enabled: true

resources:
  requests:
    cpu: 23m
    memory: 366Mi
  limits:
    cpu: null
    memory: 366Mi