operator:
  priorityClassName: platform-critical
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: karpenter.sh/nodepool
              operator: In
              values: ["system"]
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/name: operator
            topologyKey: topology.kubernetes.io/zone
          weight: 100
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: operator
          topologyKey: kubernetes.io/hostname
  tolerations:
  - key: node-role.kubernetes.io/system
    operator: Exists
    effect: NoSchedule
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
      ephemeral-storage: 500Mi
    limits:
      memory: 100Mi