tenant:
  name: minio
  pools:
    - servers: 4
      name: pool-0
      volumesPerServer: 4
      size: 10Gi
      storageClassName: proxmox-local-zfs-xfs
      resources:
        requests:
          cpu: 23m
          memory: 2Gi
        limits:
          memory: 2Gi
  metrics:
    enabled: true
  features:
    domains:
      minio:
        - https://s3.local.xuhuisun.com
      console: https://minio-console.local.xuhuisun.com
  buckets:
    - name: "cloudnative-pg-backups"
    - name: "elasticsearch-backup"
    - name: "mimir-tsdb"
    - name: "mimir-ruler"
    - name: "loki-chunks"
    - name: "loki-ruler"
    - name: "loki-admin"
    - name: "tempo"
  serviceMetadata:
    minioServiceLabels:
      tenant: minio
  env:
    - name: MINIO_PROMETHEUS_URL
      value: "http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090"
    - name: MINIO_IDENTITY_OPENID_CONFIG_URL_KEYCLOAK_PRIMARY
      value: "https://iam.local.xuhuisun.com/realms/local/.well-known/openid-configuration"
    - name: MINIO_IDENTITY_OPENID_CLIENT_ID_KEYCLOAK_PRIMARY
      value: "minio"
    - name: MINIO_IDENTITY_OPENID_DISPLAY_NAME_KEYCLOAK_PRIMARY
      value: "MinIO OpenID Login - Keycloak"
    - name: MINIO_IDENTITY_OPENID_SCOPES_KEYCLOAK_PRIMARY
      value: "openid,profile,email"
    - name: MINIO_IDENTITY_OPENID_REDIRECT_URI_DYNAMIC_KEYCLOAK_PRIMARY
      value: "on"
    # - name: MINIO_IDENTITY_OPENID_VENDOR_KEYCLOAK_PRIMARY
    #   value: "keycloak"
    # - name: MINIO_IDENTITY_OPENID_KEYCLOAK_ADMIN_URL_KEYCLOAK_PRIMARY
    #   value: "https://keycloak.local.xuhuisun.com/admin"
    # - name: MINIO_IDENTITY_OPENID_KEYCLOAK_REALM_KEYCLOAK_PRIMARY
    #   value: "minio"
