service:
  ipFamilyPolicy: PreferDualStack
  ipFamilies: ["IPv6","IPv4"]

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: karpenter.sh/nodepool
              operator: In
              values: ["system"]
tolerations:
- key: node-role.kubernetes.io/system
  operator: Exists
  effect: NoSchedule
priorityClassName: platform-critical

resources:
  requests:
    cpu: 10m
    memory: 100Mi
  limits:
    memory: 100Mi

sources:
  - service
  - ingress
  - istio-virtualservice

policy: sync

txtOwnerId: default

txtPrefix: homelab-k8s.

domainFilters: ["local.xuhuisun.com"]

provider:
  name: webhook
  webhook:
    image:
      repository: ghcr.io/kashalls/external-dns-unifi-webhook
      tag: v0.7.0
    env:
      - name: UNIFI_HOST
        value: https://10.101.70.1
      - name: UNIFI_API_KEY
        valueFrom:
          secretKeyRef:
            name: external-dns-unifi-secret
            key: api-key
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi
    livenessProbe:
      httpGet:
        path: /healthz
        port: http-webhook
      initialDelaySeconds: 10
      timeoutSeconds: 5
    readinessProbe:
      httpGet:
        path: /readyz
        port: http-webhook
      initialDelaySeconds: 10
      timeoutSeconds: 5

extraArgs:
  - --ignore-ingress-tls-spec