affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
          - key: karpenter.sh/nodepool
            operator: In
            values: ["system"]
tolerations:
- key: node-role.kubernetes.io/system
  operator: Exists
  effect: NoSchedule
priorityClassName: platform-critical

operator:
  replicaCount: 2
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - podAffinityTerm:
            labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - keda-operator
            topologyKey: topology.kubernetes.io/zone
          weight: 100
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app
              operator: In
              values:
              - keda-operator
          topologyKey: "kubernetes.io/hostname"

metricsServer:
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - podAffinityTerm:
            labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - keda-operator-metrics-apiserver
            topologyKey: topology.kubernetes.io/zone
          weight: 100
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app
              operator: In
              values:
              - keda-operator-metrics-apiserver
          topologyKey: "kubernetes.io/hostname"

webhooks:
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - podAffinityTerm:
            labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - keda-admission-webhooks
            topologyKey: topology.kubernetes.io/zone
          weight: 100
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app
              operator: In
              values:
              - keda-admission-webhooks
          topologyKey: "kubernetes.io/hostname"

resources:
  operator:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      cpu: null
      memory: 100Mi
  metricServer:
    requests:
      cpu: 15m
      memory: 100Mi
    limits:
      cpu: null
      memory: 100Mi
  webhooks:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      cpu: null
      memory: 100Mi