service:
  ipFamilyPolicy: "PreferDualStack"
  ipFamilies: ["IPv6","IPv4"]
resources:
  requests:
    cpu: 41m
    memory: 349Mi
  limits:
    memory: 349Mi
podLabels:
  istio.io/dataplane-mode: ambient
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
          - key:  karpenter.sh/nodepool
            operator: In
            values: ["system"]
tolerations:
  - key: node-role.kubernetes.io/system
    operator: Exists
    effect: NoSchedule
priorityClassName: platform-critical

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Loki
        uid: loki
        type: loki
        url: http://lgtm-loki-gateway
        isDefault: false
        jsonData:
          httpHeaderName1: X-Scope-OrgID
        secureJsonData:
          httpHeaderValue1: homelab-k8s
      - name: Mimir
        uid: prom
        type: prometheus
        url: http://lgtm-mimir-gateway/prometheus
        isDefault: true
        jsonData:
          httpHeaderName1: X-Scope-OrgID
        secureJsonData:
          httpHeaderValue1: homelab-k8s
      - name: Tempo
        uid: tempo
        type: tempo
        url: http://lgtm-tempo-gateway
        isDefault: false
        jsonData:
          tracesToLogsV2:
            datasourceUid: loki
          lokiSearch:
            datasourceUid: loki
          tracesToMetrics:
            datasourceUid: prom
          serviceMap:
            datasourceUid: prom

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: 'default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: false
      editable: true
      options:
        path: /var/lib/grafana/dashboards/default

dashboards:
  default:
    15761-kubernetes-system-api-server:
      # renovate: depName="Kubernetes System API Server"
      gnetId: 15761
      revision: 20
      datasource: Mimir
    15762-kubernetes-system-coredns:
      # renovate: depName="Kubernetes System CoreDNS"
      gnetId: 15762
      revision: 22
      datasource: Mimir
    15757-kubernetes-views-global:
      # renovate: depName="Kubernetes Views Global"
      gnetId: 15757
      revision: 43
      datasource: Mimir
    15758-kubernetes-views-namespaces:
      # renovate: depName="Kubernetes Views Namespaces"
      gnetId: 15758
      revision: 44
      datasource: Mimir
    15759-kubernetes-views-nodes:
      # renovate: depName="Kubernetes Views Nodes"
      gnetId: 15759
      revision: 40
      datasource: Mimir
    15760-kubernetes-views-pods:
      # renovate: depName="Kubernetes Views Pods"
      gnetId: 15760
      revision: 37
      datasource: Mimir
    1860-node-exporter-full:
      # renovate: depName="Node Exporter Full"
      gnetId: 1860
      revision: 42
      datasource: Mimir
    7639-istio-mesh-dashboard:
      # renovate: depName="Istio Mesh Dashboard"
      gnetId: 7639
      revision: 284
      datasource: Mimir
    7636-istio-service-dashboard:
      # renovate: depName="Istio Service Dashboard"
      gnetId: 7636
      revision: 281
      datasource: Mimir
    7630-istio-workload-dashboard:
      # renovate: depName="Istio Workload Dashboard"
      gnetId: 7630
      revision: 281
      datasource: Mimir
    11829-istio-performance-dashboard:
      # renovate: depName="Istio Performance Dashboard"
      gnetId: 11829
      revision: 281
      datasource: Mimir
    7645-istio-control-plane-dashboard:
      # renovate: depName="Istio Control Plane Dashboard"
      gnetId: 7645
      revision: 281
      datasource: Mimir
    13277-istio-wasm-extension-dashboard:
      # renovate: depName="Istio Wasm Extension Dashboard"
      gnetId: 13277
      revision: 238
      datasource: Mimir
    13502-minio-dashboard:
      # renovate: depName="MinIO Dashboard"
      gnetId: 13502
      revision: 26
      datasource:
      - name: DS_PROMETHEUS
        value: Mimir
    19237-minio-bucket-dashboard:
      # renovate: depName="MinIO Bucket Dashboard"
      gnetId: 19237
      revision: 2
      datasource:
      - name: DS_PROMETHEUS
        value: Mimir

grafana.ini:
  server:
    root_url: https://grafana.local.xuhuisun.com
  auth.generic_oauth:
    enabled: true
    name: Keycloak
    allow_sign_up: true
    client_id: grafana
    scopes: "openid email profile offline_access roles"
    email_attribute_path: email
    login_attribute_path: username
    name_attribute_path: full_name
    auth_url: https://iam.local.xuhuisun.com/realms/local/protocol/openid-connect/auth
    token_url: https://iam.local.xuhuisun.com/realms/local/protocol/openid-connect/token
    api_url: https://iam.local.xuhuisun.com/realms/local/protocol/openid-connect/userinfo
    role_attribute_path: "contains(resource_access.grafana.roles[*], 'grafanaadmin') && 'GrafanaAdmin' || contains(resource_access.grafana.roles[*], 'admin') && 'Admin' || contains(resource_access.grafana.roles[*], 'editor') && 'Editor' || 'Viewer'"
    groups_attribute_path: groups
    signout_redirect_url: https://iam.local.xuhuisun.com/realms/local/protocol/openid-connect/logout?post_logout_redirect_uri=https%3A%2F%2Fgrafana.local.xuhuisun.com%2Flogin
    allow_assign_grafana_admin: true
    use_pkce: true
    use_refresh_token: true

sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: "1"
    searchNamespace: ALL
    enableNewTablePanelSyntax: false
    multicluster:
      global:
        enabled: true
    provider:
      allowUiUpdates: false
  resources:
    requests:
      cpu: 10m
      memory: 324Mi
    limits:
      memory: 324Mi