deploymentMode: Distributed

loki:
  limits_config:
    retention_period: 30d
    allow_structured_metadata: true
    volume_enabled: true
  storage:
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin
    s3:
      endpoint: https://minio.primary-object-store.svc.cluster.local
      access_key_id: X3EEh4lU0Uz9M44FWebq
      secret_access_key: VcqVSaBjrsZhHm8qThNBuzjirzkI3EPB4tQwD5ad
      s3ForcePathStyle: true
      http_config:
        insecure_skip_verify: true
  schemaConfig:
    configs:
      - from: 2024-04-01
        object_store: s3
        store: tsdb
        schema: v13
        index:
          prefix: index_
          period: 24h
  compactor:
    retention_enabled: true
    delete_request_store: s3
    retention_delete_delay: 2h
  pattern_ingester:
    enabled: true
  querier:
    max_concurrent: 4
  ingester:
    chunk_encoding: snappy

test:
  enabled: false

lokiCanary:
  enabled: false

ingester:
  replicas: 3
  resources:
    requests:
      cpu: 38m
      memory: 800Mi
    limits:
      memory: 800Mi
  zoneAwareReplication:
     enabled: false
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/component: ingester
              app.kubernetes.io/instance: lgtm-loki
              app.kubernetes.io/name: loki
          topologyKey: kubernetes.io/hostname
querier:
  replicas: 3
  maxUnavailable: 2
  resources:
    requests:
      cpu: 18m
      memory: 152Mi
    limits:
      memory: 152Mi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/component: querier
              app.kubernetes.io/instance: lgtm-loki
              app.kubernetes.io/name: loki
          topologyKey: kubernetes.io/hostname
queryFrontend:
  replicas: 2
  maxUnavailable: 1
  resources:
    requests:
      cpu: 10m
      memory: 213Mi
    limits:
      memory: 213Mi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/component: query-frontend
              app.kubernetes.io/instance: lgtm-loki
              app.kubernetes.io/name: loki
          topologyKey: kubernetes.io/hostname
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key:  karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  priorityClassName: platform-critical
queryScheduler:
  replicas: 2
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/component: query-scheduler
              app.kubernetes.io/instance: lgtm-loki
              app.kubernetes.io/name: loki
          topologyKey: kubernetes.io/hostname
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key:  karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  priorityClassName: platform-critical
distributor:
  replicas: 3
  maxUnavailable: 2
  resources:
    requests:
      cpu: 24m
      memory: 155Mi
    limits:
      memory: 155Mi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/component: distributor
              app.kubernetes.io/instance: lgtm-loki
              app.kubernetes.io/name: loki
          topologyKey: kubernetes.io/hostname
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key:  karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  priorityClassName: platform-critical
compactor:
  replicas: 1
  resources:
    requests:
      cpu: 15m
      memory: 164Mi
    limits:
      memory: 164Mi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/component: compactor
              app.kubernetes.io/instance: lgtm-loki
              app.kubernetes.io/name: loki
          topologyKey: kubernetes.io/hostname
indexGateway:
  replicas: 2
  maxUnavailable: 1
  resources:
    requests:
      cpu: 10m
      memory: 158Mi
    limits:
      memory: 158Mi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/component: index-gateway
              app.kubernetes.io/instance: lgtm-loki
              app.kubernetes.io/name: loki
          topologyKey: kubernetes.io/hostname
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key:  karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  priorityClassName: platform-critical
gateway:
  replicas: 1
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/component: gateway
              app.kubernetes.io/instance: lgtm-loki
              app.kubernetes.io/name: loki
          topologyKey: kubernetes.io/hostname
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key:  karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  priorityClassName: platform-critical
memcachedExporter:
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi
resultsCache:
  replicas: 1
  allocatedMemory: 150
  # By default a safe memory limit will be requested based on allocatedMemory value (floor (* 1.2 allocatedMemory)).
  resources:
    requests:
      cpu: 10m
      memory: 180Mi
    limits:
      memory: 180Mi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/component: memcached-results-cache
              app.kubernetes.io/instance: lgtm-loki
              app.kubernetes.io/name: loki
          topologyKey: kubernetes.io/hostname
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key:  karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  priorityClassName: platform-critical
chunksCache:
  replicas: 1
  allocatedMemory: 2205
  # By default a safe memory limit will be requested based on allocatedMemory value (floor (* 1.2 allocatedMemory)).
  resources:
    requests:
      cpu: 10m
      memory: 2647Mi
    limits:
      memory: 2647Mi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/component: memcached-chunks-cache
              app.kubernetes.io/instance: lgtm-loki
              app.kubernetes.io/name: loki
          topologyKey: kubernetes.io/hostname
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key:  karpenter.sh/nodepool
              operator: In
              values: ["system"]
  tolerations:
    - key: node-role.kubernetes.io/system
      operator: Exists
      effect: NoSchedule
  priorityClassName: platform-critical

bloomPlanner:
  replicas: 0
bloomBuilder:
  replicas: 0
bloomGateway:
  replicas: 0

backend:
   replicas: 0
read:
   replicas: 0
write:
   replicas: 0

singleBinary:
   replicas: 0