machine:
  kubelet:
    extraArgs:
      cloud-provider: external
      rotate-server-certificates: true
    nodeIP:
      validSubnets:
%{ for subnet in validSubnets ~}
        - ${subnet}
%{ endfor ~}
  install:
    image: ${installer_image}
  features:
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
        - os:reader
      allowedKubernetesNamespaces:
        - kube-system
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: false
cluster:
  network:
    podSubnets:
      - 10.233.0.0/18
      - fd85:ee78:d8a6:8607::1:0000/112
    serviceSubnets:
      - 10.233.64.0/18
      - fd85:ee78:d8a6:8607::1000/116
    cni:
      name: none
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
      controllers: "*,tokencleaner,-node-ipam-controller"
      node-cidr-mask-size-ipv4: "24"
      node-cidr-mask-size-ipv6: "120"
  proxy:
    disabled: true
  scheduler:
    extraArgs:
      bind-address: 0.0.0.0
  etcd:
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
    advertisedSubnets:
%{ for subnet in validSubnets ~}
      - ${subnet}
%{ endfor ~}
  externalCloudProvider:
    enabled: true
  inlineManifests:
    - name: proxmox-cloud-controller-manager
      contents: |-
        apiVersion: v1
        kind: Secret
        type: Opaque
        metadata:
          name: proxmox-cloud-controller-manager
          namespace: kube-system
        data:
          config.yaml: ${base64encode(proxmox-ccm-clusters)}
    - name: proxmox-csi-plugin
      contents: |-
        apiVersion: v1
        kind: Secret
        type: Opaque
        metadata:
          name: proxmox-csi-plugin
          namespace: kube-system 
        data:
          config.yaml: ${base64encode(proxmox-csi-clusters)}
    - name: karpenter-provider-proxmox 
      contents: |-
        apiVersion: v1
        kind: Secret
        type: Opaque
        metadata:
          name: karpenter-provider-proxmox
          namespace: kube-system 
        data:
          config.yaml: ${base64encode(proxmox-karpenter-clusters)}
    - name: karpenter-template
      contents: |-
        apiVersion: v1
        kind: Secret
        type: Opaque
        metadata:
          name: karpenter-template
          namespace: kube-system 
        data:
          user-data: ${base64encode(proxmox-karpenter-template)}
    - name: karpenter-gpu-template
      contents: |-
        apiVersion: v1
        kind: Secret
        type: Opaque
        metadata:
          name: karpenter-gpu-template
          namespace: kube-system 
        data:
          user-data: ${base64encode(proxmox-karpenter-gpu-template)}          