machine:
  certSANs:
%{ for san in certSANs ~}
    - ${san}
%{ endfor ~}
  kubelet:
    nodeIP:
      validSubnets:
%{ for subnet in validSubnets ~}
        - ${subnet}
%{ endfor ~}
  install:
    image: ${installer_image}
cluster:
  network:
    podSubnets:
      - fd85:ee78:d8a6:8607::1:0000/112
    serviceSubnets:
      - fd85:ee78:d8a6:8607::1000/116
    cni:
      name: none
  apiServer:
    extraArgs:
      bind-address: "::"
  controllerManager:
    extraArgs:
      bind-address: "::"
      controllers: "*,bootstrapsigner,tokencleaner"
      node-cidr-mask-size-ipv6: "120"
  proxy:
    disabled: true
  scheduler:
    extraArgs:
      bind-address: "::"
  etcd:
    advertisedSubnets:
%{ for subnet in validSubnets ~}
      - ${subnet}
%{ endfor ~}
  inlineManifests:
    - name: cilium
      contents: |
        ${cilium_template}